.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#043e43, #079094);
}

.search-section {
  max-width: 800px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background: #d9e8e8;
  padding: 20px;
  border-radius: 5px;
}

.search-section h2 {
  color: #2e3e50;
  font-size: 30px;
}

#searchForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#searchForm :where(input, select, button) {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#searchForm button {
  background: linear-gradient(#663399, #b476f1);
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
